.demo-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  .outer-container {
    max-width: var(--page-max-width);
    width: 100%;
    background: red;

    .inner-container {
      padding: 1rem;
    }
  }
}
