.notes-page {
  flex: 1;
  margin: 2rem auto;
  max-width: var(--page-max-width);
  width: 100%;
  display: flex;
  flex-direction: column;

  .new-note-container {
    display: flex;
    flex-direction: column;

    .editor {
      padding: 1rem;
      height: 30px;
      transition: height 0.2s ease-in-out;

      &.tall {
        height: 400px;
      }
    }
  }

  .notes {
    margin-top: 2rem;
    border: 1px solid #94becd;
    border-radius: 5px;
    border-top: 0;

    @media (max-width: 600px) {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }

    .note {
      padding: 0.5rem 1rem;
      border-top: 1px solid #94becd;
      transition: 0.2s background ease-in-out;
      cursor: pointer;
      font-family: inherit;
      white-space: pre-wrap;
      word-break: break-word;
      word-wrap: break-word;
      line-height: 1.5;
      margin: 0;

      &:hover {
        background: #d0ebf5;
      }

      & p {
        margin: 0.5rem 0;
      }

      & + .note {
        /* margin-top: 0.5rem; */
      }
    }
  }

  & button.load-more {
    margin-top: 2rem;
  }
}
