.notes-page {
  flex: 1;
  margin: var(--page-content-margin-top) auto;
  max-width: var(--page-max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .new-note-container {
    display: flex;
    flex-direction: column;

    &.sticky {
      position: sticky;

      top: var(--page-header-height);
      z-index: var(--sticky-z-index);
      overflow: visible;

      .editor {
        /* more padding to clear the top where messages are shown. */
        /* min-height: 100px; */
        box-shadow: 5px 5px 14px 7px #00000022;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        /* NOTE Chaning the size of the editor causes jumps on scroll position restoration during page transitions */
        /* padding-top: 1.2rem; */
        /* padding-bottom: 1.2rem; */
      }

      /* IOS Safari doesn't show the shadow if it's on .editor */
      @media (max-width: 800px) {
        box-shadow: 5px 5px 14px 7px #00000022;
        .editor {
          box-shadow: none;
        }
      }
    }

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

    &:not(.sticky) .editor:focus {
      outline: 2px solid #aadfef;
    }
  }

  .notes {
    margin-top: 2rem;

    border: 1px solid var(--box-border-color);
    border-radius: var(--box-border-radius);

    @media (max-width: 800px) {
      border-radius: 0;
      border-left: 0;
      border-right: 0;
    }

    .note {
      padding: 1rem;
      transition: 0.2s background ease-in-out;
      cursor: pointer;
      font-family: inherit;
      white-space: pre-wrap;
      word-break: break-word;
      word-wrap: break-word;
      line-height: 1.5;
      margin: 0;
      position: relative;

      &:hover {
        background: #d0ebf5;
      }

      .title {
        font-weight: bold;
      }

      & p {
        margin: 0.5rem 0;
      }

      & + .note {
        border-top: 1px solid var(--box-border-color);
      }

      & img.pin {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 20px;
        opacity: 0.5;
      }

      & input[type='checkbox'] {
        border: 1px solid #aadfef;
        border-radius: 5px;
        outline: none;
        padding: 0.5rem 0.75rem;
        /* outline: none; */
        width: 16px;
        height: 16px;
        /* border-radius: 20px; */
        vertical-align: text-bottom;
        margin: 0;
        margin-right: 0.25rem;
      }
    }
  }

  & button.load-more {
    margin-top: 2rem;
  }
}
