.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #448199;
  z-index: 1;

  .msg-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* width: 100%; */
    text-align: center;
    border-top: 1px solid white;
    color: white;
    font-size: 0.8em;
    & p {
      margin: 0;
      padding: 0.25rem 1rem;
      &.error {
        background: #b90000;
      }
      &.info {
        background: #609dbb;
      }
    }
  }

  .content {
    margin: 0.25rem auto;
    max-width: var(--page-max-width);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .menu-button-container {
      margin-left: 0.5rem;
      display: flex;
      align-items: center;

      .menu-button {
        position: relative;
        width: 25px;
        height: 25px;

        > a {
          display: flex;
        }

        .menu {
          position: absolute;
          top: 28px;
          left: 0;
          background: #ffffff;
          /* backdrop-filter: blur(5px); */
          z-index: 100;
          color: #424242;
          border-radius: 5px;
          width: 200px;
          box-shadow: 5px 5px 14px 7px #00000022;
          overflow: hidden;

          & ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            & img {
              width: 15px;
              height: 15px;
              margin-left: auto;
            }

            & li.user {
              display: flex;
              align-items: center;
              font-size: 1.1em;
              background: #e1efff;
              padding: 0.5rem 1rem;
              border-bottom: 1px solid #cacfd5;
            }

            & li.footer {
              display: flex;
              align-items: center;
              font-size: 0.8em;
              background: #f0f7ff;
              padding: 0.25rem 1rem;
              border-top: 1px solid #cacfd5;
            }

            & li {
              & a {
                display: flex;
                align-items: center;
                white-space: nowrap;
                padding: 1rem 1rem;
                transition: 0.2s background ease-in-out;
                /* font-weight: bold; */
                /* font-size: 1.1em; */
              }
              & a:hover {
                background: #fdddd2;
              }
            }
          }
        }
      }
    }

    .title {
      position: relative;
      margin-left: 1rem;
      display: flex;
      align-items: center;

      /* .logo { */
      /*   position: absolute; */
      /*   top: 0; */
      /*   right: calc(100% + 0.5rem); */
      /*   bottom: 0; */
      /*   display: flex; */
      /*   align-items: center; */
      /*   justify-content: center; */

      /*   & img { */
      /*     width: 40px; */
      /*     height: 40px; */
      /*   } */
      /* } */

      & h1 {
        margin: 0.5rem 0;
        font-size: 1rem;
        letter-spacing: 2px;
        font-family: monospace;
        color: white;
      }

      /* position: absolute; */
      /* bottom: 0.5rem; */
      /* left: calc(100% + 0.25rem); */
      /* text-align: left; */

      .queue-count {
        margin-left: 0.5rem;
        font-size: 0.7em;
        color: white;
      }
      /* .online-indicator { */
      /*   margin-left: 0.25rem; */
      /*   width: 7px; */
      /*   height: 7px; */
      /*   border-radius: 50%; */
      /*   background: #51bc51; */
      /* } */
    }

    .actions {
      height: 100%;
      margin-left: auto;
      margin-right: 0.5rem;
      display: flex;
      align-items: center;

      & a {
        color: white;
        height: 100%;
        display: flex;
        align-items: center;

        @media (max-width: 600px) {
          font-size: 0.9em;
        }

        &.bold {
          font-weight: bold;
        }

        & + a {
          margin-left: 1.5rem;

          @media (max-width: 600px) {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
