.page-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #448199;
  z-index: 1;

  .msg-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    /* width: 100%; */
    text-align: center;
    border-top: 1px solid white;
    color: white;
    font-size: 0.8em;
    & p {
      margin: 0;
      padding: 0.25rem 1rem;
      &.error {
        background: #b90000;
      }
      &.info {
        background: #609dbb;
      }
    }
  }

  .content {
    margin: 0.25rem auto;
    max-width: var(--page-max-width);
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-button-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0.5rem;
      display: flex;
      align-items: center;

      .menu-button {
        position: relative;

        > a {
        }

        .menu {
          position: absolute;
          top: 30px;
          left: 0;
          background: #000000aa;
          backdrop-filter: blur(5px);
          z-index: 100;
          color: white;
          border-radius: 5px;
          width: 200px;
          /* width: 100px; */
          /* padding: 1rem; */

          & ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            & li.username {
              text-align: center;
              font-size: 1.1em;
              background: #3f697d;
            }

            & li {
              & a {
                display: flex;
                white-space: nowrap;
                padding: 1rem 2rem;
                transition: 0.2s background ease-in-out;
                font-weight: bold;
                font-size: 1.1em;
                justify-content: center;
                /* letter-spacing: 1px; */
              }
              & a:hover {
                background: #ffffff22;
              }
            }
          }
        }
      }
    }

    .title {
      position: relative;

      .logo {
        position: absolute;
        top: 0;
        right: calc(100% + 0.5rem);
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
          width: 40px;
          height: 40px;
        }
      }

      & h1 {
        margin: 0.5rem 0;
        font-size: 1rem;
        letter-spacing: 2px;
        font-family: monospace;
        color: white;
      }

      .status {
        position: absolute;
        bottom: 0.25rem;
        left: calc(100% + 0.25rem);
        text-align: left;
        font-size: 0.7em;
        white-space: nowrap;
        color: white;
      }
    }

    .actions {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0.5rem;
      display: flex;
      align-items: center;

      & a {
        color: white;
      }
    }
  }
}
